@font-face {
  font-family: "Kraby Patty";
  src: url(assets/Krabby\ Patty.ttf);
}
body {
  display: flex;
  font-family: "Kraby Patty";
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-image: url(./img/bluryBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#marge {
  grid-area: marge;
  width: 30px;
  height: 100%;
  background-image: url(img/lineMarge.png);
  background-size: 100%; /*le meme que paper*/
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.paper {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  word-wrap: break-word;
  grid-template-areas:
    "marge titre"
    "marge tasks"
    "marge adding";
  padding: 0px 10px 0px 15px;
  max-width: 600px;
  flex-direction: column;
  background-color: aliceblue;
  background-image: url(img/line.png);
  background-size: 10%;
}

.titre {
  grid-area: titre;
  text-align: center;
}
.tasks {
  grid-area: tasks;
}
.task {
  display: grid;
  word-wrap: break-word;
  grid-template-areas: "text delete edit";
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
}
.text {
  max-width: 300px;
}
.adding {
  grid-area: adding;
  display: grid;
  grid-template-areas: "text add";
  grid-template-columns: 6fr 1fr;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
input {
    font-family: "Kraby patty";
  border: solid gray 1.5px;
  border-radius: 5px;
  margin-right: 30px;
}
button {
    font-family: "Kraby patty";
  border-radius: 5px;
  border-color: unset;
  width: 50px;
  height: 20px;
}
button.delete {
    margin-left: 20px;
  background-color: rgb(220, 51, 51);
  color: white; 
}
button.edit {
  background-color: rgb(0, 174, 255);
  color: white;
}
button#add {
    background-color: rgb(5, 182, 5);
    color: white;
    height: 30px;
  }
button:hover {
  cursor: pointer;
}
